<%= form_for(@closet) do |f| %>
  <% if @closet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@closet.errors.count, "error") %> prohibited this closet item from being saved:</h2>

      <ul>
      <% @closet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :store %><br>
    <%= f.text_field :store %>
  </div>
  <div>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div>
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
   <div>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="btn-group">
    <%= f.submit %>
  </div>
<% end %>
