<h1>SizeCloset</h1>
<h3>Keep All Your Clothing Sizes in One Place!</h3>

<%= link_to 'New Closet Item', new_closet_path %>

<table>
  <thead>
    <tr>
      <th><%= sortable "store", "Store/Brand" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "style" %></th>
      <th><%= sortable "size" %></th>
      <th><%= sortable "note" %></th>
    </tr>
  </thead>

  <tbody>
    <% @closets.each do |closet| %>
      <tr>
        <td><%= closet.store %></td>
        <td><%= closet.category %></td>
        <td><%= closet.style %></td>
        <td><%= closet.size %></td>
        <td><%= closet.note %></td>
        <td><%= link_to 'View', closet %></td>
        <td><%= link_to 'Edit', edit_closet_path(closet) %></td>
        <td><%= link_to 'Delete', closet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


