<h3>Closet Item <%= @closet.id %> updated</h3>

<p>Store: <%= @closet.store %></p>

<p>Category: <%= @closet.category %></p>

<p>Style: <%= @closet.style %></p>

<p>Size: <%= @closet.size %></p>

<p>Notes: <%= @closet.note %></p>

<%= link_to 'Edit', edit_closet_path(@closet) %> |
<%= link_to 'Home', root_path %>
