<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @closet.store %>
</p>

<p>
  <strong>Category:</strong>
  <%= @closet.category %>
</p>

<p>
  <strong>Style:</strong>
  <%= @closet.style %>
</p>

<p>
  <strong>Size:</strong>
  <%= @closet.size %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @closet.note %>
</p>

<%= link_to 'Edit', edit_closet_path(@closet) %> |
<%= link_to 'Back', closets_path %>
